@font-face {
  font-family: "iconfont"; /* Project id 2772583 */
  src: url('iconfont.woff2?t=1630465193974') format('woff2'),
       url('iconfont.woff?t=1630465193974') format('woff'),
       url('iconfont.ttf?t=1630465193974') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifupingtai-yinlian:before {
  content: "\e614";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-butongguo:before {
  content: "\e7c8";
}

.icon-tongguo:before {
  content: "\e629";
}

.icon-jibenxinxi:before {
  content: "\e615";
}

.icon-shangdian:before {
  content: "\e60f";
}

.icon-zhifu:before {
  content: "\e8f9";
}

.icon-RectangleCopy:before {
  content: "\e6d2";
}

.icon-shenhe:before {
  content: "\e6a1";
}

.icon-zhanghaoxinxi:before {
  content: "\e64c";
}

.icon-kuaidi:before {
  content: "\e74b";
}

.icon-jiantou1:before {
  content: "\e657";
}

.icon-xinjian:before {
  content: "\e641";
}

