.store {
    .current_modules {
        margin: 20px 0;
        span {
            color: #f60;
            font-size: 20px;
        }
    }
    .store_header{
        border: 1px solid #f5f5f5;
        padding: 10px;
        display: flex;
        .header_item {
            text-align: center;
            margin-right: 60px;
            color: #ccc;
            position: relative;
            &.active {
                color: #f60;
                cursor: pointer;
            }
            .iconfont {
                font-size: 50px;
            }
            .icon-jiantou1 {
                position: absolute;
                cursor: auto;
                top: 10px;
                right: -60px;
            }
        }
    }
    .store_main {
        margin: 20px 0;
        border: 1px solid #f5f5f5;
        padding: 20px;
        .form_main {
            display: flex;
            flex-wrap: wrap;
            .ant-row {
                width: 30%;
                &:not(:nth-child(3n)) {
                    margin-right: 5%;
                }
            }
        }
    }
    .store_footer {
        display: flex;
        justify-content: center;
    }
}